.sp500_lastupdate {
  color: rgb(148,151,193);
  font-weight: bold;
}

.sp500_card {
  background-color: transparent;
  border-color: rgba(148,151,193,0);
}

.sp500_titles {
  color: rgb(228,229,234);
}

.sp500_highlight {
  color: rgb(228,229,234);
}

.sp500_returnsTitle {
  color: rgb(0, 204, 212);
}